---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Ultra-thin hero banner */

/* Remove extra vertical space */
.page__hero {
  min-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.page__hero-image {
  max-height: 70px;   /* was 140px */
  overflow: hidden;
}

.page__hero--overlay .wrapper {
  padding-top: 0.5rem;     /* was 1.0rem */
  padding-bottom: 0.5rem;
}
