---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__hero {
  max-height: 200px;   // control thickness
  overflow: hidden;    // hide the rest of the image
}

.page__hero-image {
  object-fit: cover;
  object-position: center;
}

/* Tighten space above and below 'Recent posts' */
.page__content h3.archivesubtitle {
  margin-top: 0.5rem;    /* was larger */
  margin-bottom: 0.5rem; /* reduce gap under title */
}

/* Tighten space between subtitle and first post */
.archive__item {
  margin-top: 0.5rem;    /* lower this until gap disappears */
}
