---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

.page__hero {
  max-height: 200px;
  overflow: hidden;
}

.page__hero-image {
  object-fit: cover;
  object-position: center;
}

/* Remove gap between banner and content */
.page__hero--overlay {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

/* Remove gap between sections */
.sidebar.sticky {
  top: 0 !important;
  margin-top: -3em !important;
}

/* Reduce Recent posts spacing */
h3.archive__subtitle {
  margin-bottom: 0.5em !important;
}
