---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

.page__hero {
  max-height: 200px;
  overflow: hidden;
}

.page__hero-image {
  object-fit: cover;
  object-position: center;
}

/* Fix the gap under Recent posts */
.archive__item-excerpt {
  margin-top: 0 !important;
}

.list__item:first-child {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.archive__item:first-of-type {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
